## @section Common parameters

## @param host {string} The hostname used to access the grafana externally (defaults to 'grafana' subdomain for the tenant host).
host: ""

## @section Metrics storage configuration

## @param metricsStorages {[]metricsStorage} Configuration of metrics storage instances
## @field metricsStorage.name {string} Name of the storage instance
## @field metricsStorage.retentionPeriod {string} Retention period for the metrics in the storage instance
## @field metricsStorage.deduplicationInterval {string} Deduplication interval for the metrics in the storage instance
## @field metricsStorage.storage {string} Persistent Volume size for the storage instance
## @field metricsStorage.storageClassName {*string} StorageClass used to store the data
## @field metricsStorage.vminsert {*vmcomponent} Configuration for vminsert component of the storage instance
## @field metricsStorage.vmselect {*vmcomponent} Configuration for vmselect component of the storage instance
## @field metricsStorage.vmstorage {*vmcomponent} Configuration for vmstorage component of the storage instance

## @field request.cpu {*quantity} CPU request (minimum available CPU)
## @field request.memory {*quantity} Memory request (minimum available memory)
## @field limit.cpu {*quantity} CPU limit (maximum available CPU)
## @field limit.memory {*quantity} Memory limit (maximum available memory)
## @field vmcomponent.minAllowed {*request} Requests (minimum allowed/available resources)
## @field vmcomponent.maxAllowed {*limit} Limits (maximum allowed/available resources )
## @field resources.requests {*request}
## @field resources.limits {*limit}

## Example:
## metricsStorages:
## - name: shortterm
##   retentionPeriod: "3d"
##   deduplicationInterval: "15s"
##   storage: 10Gi
##   storageClassName: ""
##   vminsert:
##     minAllowed:
##       cpu: 200m
##       memory: 512Mi
##     maxAllowed:
##       cpu: 1500m
##       memory: 3Gi
##   vmselect:
##     minAllowed:
##       cpu: 300m
##       memory: 1Gi
##     maxAllowed:
##       cpu: 3500m
##       memory: 6Gi
##   vmstorage:
##     minAllowed:
##       cpu: 500m
##       memory: 2Gi
##     maxAllowed:
##       cpu: 4000m
##       memory: 8Gi
##
metricsStorages:
- name: shortterm
  retentionPeriod: "3d"
  deduplicationInterval: "15s"
  storage: 10Gi
  storageClassName: ""
- name: longterm
  retentionPeriod: "14d"
  deduplicationInterval: "5m"
  storage: 10Gi
  storageClassName: ""

## @section Logs storage configuration

## @param logsStorages {[]logsStorage} Configuration of logs storage instances
## @field logsStorage.name {string} Name of the storage instance
## @field logsStorage.retentionPeriod {string} Retention period for the logs in the storage instance
## @field logsStorage.storage {string} Persistent Volume size for the storage instance
## @field logsStorage.storageClassName {*string} StorageClass used to store the data
##
logsStorages:
- name: generic
  retentionPeriod: "1"
  storage: 10Gi
  storageClassName: replicated

## @section Alerta configuration

## @param alerta {alerta} Configuration for Alerta service
## @field alerta.storage {*string} Persistent Volume size for the database
## @field alerta.storageClassName {*string} StorageClass used to store the data
## @field alerta.resources {*resources} Resources configuration
## @field alerta.alerts {*alerts} Configuration for alerts
## @field alerts.telegram {*telegramAlerts} Configuration for Telegram alerts
## @field telegramAlerts.token {string} Telegram token for your bot
## @field telegramAlerts.chatID {string} Specify multiple ID's separated by comma. Get yours in https://t.me/chatid_echo_bot
## @field telegramAlerts.disabledSeverity {string} List of severity without alerts, separated by comma like: "informational,warning"
alerta:
  storage: 10Gi
  storageClassName: ""
  resources:
    limits:
      cpu: "1"
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 256Mi
  alerts:
    ## example:
    ##   telegram:
    ##     token: "7262461387:AAGtwq16iwuVtWtzoN6TUEMpF00fpC9Xz34"
    ##     chatID: "-4520856007"
    ##     disabledSeverity: "informational,warning"
    ##
    telegram:
      token: ""
      chatID: ""
      disabledSeverity: ""

## @section Grafana configuration

## @param grafana {grafana} Configuration for Grafana
## @field grafana.db {*grafanaDB} Database configuration
## @field grafanaDB.size {*string} Persistent Volume size for the database
## @field grafana.resources {*resources} Resources configuration


grafana:
  db:
    size: 10Gi
  resources:
    limits:
      cpu: "1"
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 256Mi
